{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<script src="http://microsofttranslator.com/ajax/v3/widgetv3.ashx" type="text/javascript"></script>
        <script>
            var languages = Microsoft.Translator.Widget.GetLanguagesForTranslateLocalized();

            for (var key in languages)
            {
                var optLang = document.createElement('option');
                //Language name is in .Name property
                optLang.innerHTML = listOfLanguages[key].Name;
                //Langauge code is .Code property
                optLang.value = listOfLanguages[key].Code;
                ddlLangs.appendChild(optLang);
            }

        </script>
{{=form}}

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}
